<div class="modal fade mod-form mod-default-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="list-btn-group">
          <a href="#" class="list-btn-item insert-image">插入一张图片</a>
          <a href="#" class="list-btn-item">插入一段文字</a>
          <a href="#" class="list-btn-item">插入附件</a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>

</script>
<style type="text/css">

.list-btn-item:last-child {
  margin-bottom: 0;
}
.list-btn-item {
  position: relative;
  display: block;
  padding: 15px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
}
.list-btn-item:hover{ 
  background: #efefef; 
  text-decoration: none;
}
.list-btn-item:active{ 
  background: #ddd; 
}
.list-btn-group { 
  padding: 35px 0;
  margin: 10px 0;
}
.mo-form .modal-body{  
  padding: 0;
}
</style>
