{# 
外部可以替换此模板

要求就要相同的类名：
mod-render 
mod-default-render： 用于点击事件
mixed: 混合型模块，模块点击后动态调用ModDefault，根据tpl里所列子模块生成form modal的内容
 #}

<div class="mod-render mod-default-render mixed" id="{{params.position}}">
	<div class="wrapper">
		<div class="mod-body"><i class="fa fa-plus"></i></div>
	</div>
</div>
<style>
	.mod-default-render .wrapper .mod-body { 
		color: #aaa; 
		background: #dfdfdf; 
		font: 25px/60px "microsoft YaHei"; 
		text-align: center; 
		cursor: pointer; 
		border-radius: 6px;
	}
</style>
<script>
	
</script>
